In [5]:
from housing.config.configuration import *
from housing.constant import *
from housing.util import *

In [6]:
config = Configuration(config_file_path="D:\iNeuron\Project\ml_project_scratch\config\config.yaml")

In [7]:
config.get_data_ingestion_config()

DataIngestionConfig(dataset_download_url='https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz', tgz_download_url='d:\\iNeuron\\Project\\ml_project_scratch\\Notebooks\\housing\\artifact\\data_ingestion\\2022-09-11 12:38:04\\tgz_data', raw_data_dir='d:\\iNeuron\\Project\\ml_project_scratch\\Notebooks\\housing\\artifact\\data_ingestion\\2022-09-11 12:38:04\\raw_data', ingested_trained_dir='d:\\iNeuron\\Project\\ml_project_scratch\\Notebooks\\housing\\artifact\\data_ingestion\\2022-09-11 12:38:04\\ingested_data\\train', ingested_test_dir='d:\\iNeuron\\Project\\ml_project_scratch\\Notebooks\\housing\\artifact\\data_ingestion\\2022-09-11 12:38:04\\ingested_data\\test')

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'D:\iNeuron\Project\ml_project_scratch\housing\artifact\data_ingestion\2022-09-12 175129\ingested_data\train\housing.csv')

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [31]:
cols = df.columns.values

In [32]:
type = list(map(lambda x: str(x) , df.dtypes.values))

In [46]:
inner_data = dict(zip(cols , type))

In [34]:
import yaml

In [51]:
with open('schema.yaml','w') as output:
    yaml.dump(data , output)

In [39]:
data['columns'] = data

In [47]:
data['columns'] = inner_data

In [50]:
data

{'columns': {'longitude': 'float64',
  'latitude': 'float64',
  'housing_median_age': 'float64',
  'total_rooms': 'float64',
  'total_bedrooms': 'float64',
  'population': 'float64',
  'households': 'float64',
  'median_income': 'float64',
  'median_house_value': 'float64',
  'ocean_proximity': 'object'},
 'target_column': 'median_house_value'}

In [49]:
data['target_column'] = 'median_house_value'